<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="4"  parallel="tests">
  <test  name="PruebaTestNG1">
    <classes >
      <class name="com.timp.test.BRB.testNg.AcessarP"/>

      
    </classes>
  </test> <!-- PruebaTestNG -->
  
  <test  name="PruebaTestNG2">
    <classes >

      <class name="com.timp.test.BRB.testNg.FiltrosP"/>
      
    </classes>
  </test> <!-- PruebaTestNG -->
</suite> <!-- Suite -->
